<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memora - Privacy</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut-icon" href="images/favicon_io/favicon.ico" type="image/x-icon">

    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/termStyle.css">
</head>

<body>
    <header>
        <div class="navcontainer">
            <div class="navlogo">
                <img src="/img/logo2.png">
                <hr>
            </div>
        </div>

    </header>

    <div class="terms-container">
        <h1>Memora Privacy Policy</h1>
            <p style="font-weight: bold;">When you use our services, you're trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.</p>
            <p>By accessing or using the Services, you agree to this Privacy Policy, and our Terms of Service. If you have any questions about this Privacy Policy, you can contact us.</p>
       <br><br>
        <h3>Information Memora Collects</h3>
            <p style="font-weight: bold; font-size:17px;">Your activity & apps</p>
            <p>At the time you register for Memora, you voluntarily give us information such as your name and email address. You have the access and can update this information under your personal Account Settings at any time. We also collect aggregated, anonymous user data about the use of the app. </p>
            <br>
            <p style="font-weight: bold; font-size:17px;">Your browsers & device</p>
            <p>We collect information about the browsers and devices you use to access Memora. The user data we collect is used to enhance Memora and the quality of our service. We only collect personal data required to deliver our services, and we only store it to the extent that it is essential to perform these services.</p>
            <br>
            <p style="font-weight: bold; font-size:17px;">Your Location Information</p>
            <p>We collect information about your location after you open background location access to Memora. The location data is used to help us offer the Location Reminder feature. Your location can be determined by Sensor data from your device. You can turn your Android device's location on or off using the devices settings app.</p>
            <br>
            <p style="font-weight: bold; font-size:17px;">Your Avatar Picture</p>
            <p>We collect user avatars to differentiate users and enable features such as task sharing. This information is used for functional purposes only.</p>
            <br><br>
        <h3>Your Privacy Controls</h3>
            <p>While Memora owns the Memora application's code, databases, and all rights, you retain all rights to your data. You have choices regarding the information we collect and how it's used. Memora will never sell your personal data to a third party, and we will never share data with third parties without your permission. When absolutely necessary, Memora uses third party services and hosting partners who are GDPR-compliant. In such instances, we take essential security methods to guarantee that we comply with GDPR when sending and receiving data from third parties.</p>
        <br><br>
        <h3>Cookies</h3>
            <p>Cookies are required on Memora's Website. We use them to collect visitors' preferences and thus to better optimize the user experience. Users can disable cookies in their browser settings. But please note that our services rely on cookies to function properly, and you may not be able to access certain features on our Website after disabling them.</p>
        <br><br>
        <h3>Changes to This Policy</h3>
            <p>If our Privacy Policy changes at some time in the future, we will not reduce your rights under this Privacy Policy without your explicit consent. We always indicate the date the latest changes were published. If changes are significant, we'll provide a more prominent notice (including, for certain services, email notification of Privacy Policy changes).</p>
            <p>Please check back periodically to keep informed of updates or changes to this Privacy Policy. By continuing to access and to use Memora, you are agreeing to be bound by the revised policy.</p>
        <br><br><br><hr>
        <p>To read more details and frequently asked questions about Memora's privacy and terms, please read the Privacy and Security FAQ in our Help Center. </p>
        <p>Date of Last Revision: May 2, 2024</p>
        <br><br><br>
    </div>

    <section class="footer">
    <footer>
        <div class="footer">
            <div class="footer_contact">
                <h4>
                    Contact Me
                </h4>
                <br>
                <div class="contact_link_box">
                    <a href="https://untar.ac.id" target="_blank">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                            Universitas Tarumanagara
                        </span>
                    </a>
                    <br><br>
                    <a href="http://wa.me/085819600948" target="_blank">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                            Call +62 85819600948
                        </span>
                    </a>
                    <br><br>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&tf=1&fs=1&to=memora.remind@gmail.com" target="_blank">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                            memora.remind@gmail.com
                        </span>
                    </a>
                </div>
                <h1 class="credit"> &copy <span> MEMORA </span> | All rights reserved. </h1>    
        </div>
    </footer>
</section>
    
</body>
</html>