<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memora - Terms</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut-icon" href="images/favicon_io/favicon.ico" type="image/x-icon">

    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/termStyle.css">
</head>

<body>
    <header>
        <div class="navcontainer">
            <div class="navlogo">
                <img src="/img/logo2.png">
                <hr>
            </div>
        </div>

    </header>

    <div class="terms-container">
        <h1>Memora Terms of Service</h1>
        <br><h2>Welcome to Memora!</h2>
            <p>Thank you for using our products and services ("Services"). The Services are provided by Appest Inc. ("Appest"). By using our Services, you are agreeing to these terms. Please read them carefully. IF YOU DO NOT AGREE TO THESE TERMS, PLEASE DO NOT USE THE SERVICES.</p>
            <p>These terms govern your use of Appest's product Memora, including its features, apps, services, technologies, and software we offer, except where we expressly state that separate terms (and not these) apply.</p>
        <br><h3>Using our Services</h3>
            <p>You must follow any policies made available to you within the Services. Don't misuse our Services. For example, don't interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.</p>
            <p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don't remove, obscure, or alter any legal notices displayed in or along with our Services.</p>
            <p>In connection with your use of the Services, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.</p>
            <p>Most of our Services are available on mobile devices. Do not use such Services in a way that distracts you and prevents you from obeying traffic or safety laws.</p>
        <br><h3>Your Memora Account</h3>
            <p>You may need a Memora Account in order to use some of our Services. You are responsible for the activity that happens on or through your Memora Account. Try not to reuse your Memora Account password on third-party applications.</p>
        <br><h3>Privacy and Copyright Protection</h3>
            <p>Memora's Privacy Policy explains how we treat your personal data and protect your privacy when you use our Services. By using our Services, you agree that Memora can use such data in accordance with our privacy policies.</p>
        <br><h3>Your Content in Our Services</h3>
            <p>Some of our Services allow you to create, upload, submit, save, send or receive content. You retain ownership of any intellectual property rights that you hold in that content. In short, what belongs to you stays yours.</p>
            <p>You can find more information about how Memora uses and stores content in the Privacy Policy or additional terms for particular Services. If you submit feedback or suggestions about our Services, we may use your feedback or suggestions without obligation to you.</p>
        <br><h3>About Software in Our Services</h3>
            <p>When a Service requires or includes downloadable software, this software may update automatically on your device once a new version or feature is available. Some Services may let you adjust your automatic update settings.</p>
            <p>Memora gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Memora as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Memora, in the manner permitted by these terms. You may not copy, modify, distribute, sell, or lease any part of our Services or included software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions or you have our written permission.</p>
        <br><h3>Business Uses of Our Services</h3>
            <p>If you are using our Services on behalf of a business, that business accepts these terms. It will hold harmless and indemnify Memora and its affiliates, officers, agents, and employees from any claim, suit or action arising from or related to the use of the Services or violation of these terms, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and attorneys' fees.</p>
        <br><h3>About These Terms</h3>
            <p>These terms control the relationship between Memora and you. They do not create any third party beneficiary rights. If you do not comply with these terms, and we don't take action right away, this doesn't mean that we are giving up any rights that we may have (such as taking action in the future). If it turns out that a particular term is not enforceable, this will not affect any other terms.</p>
            <p>For more information, please contact us.</p>
        <br><br><hr>
        <p>Date of Last Revision: May 2, 2024</p>
        <br><br><br>
    </div>

    <section class="footer">
    <footer>
        <div class="footer">
            <div class="footer_contact">
                <h4>
                    Contact Me
                </h4>
                <br>
                <div class="contact_link_box">
                    <a href="https://untar.ac.id" target="_blank">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                            Universitas Tarumanagara
                        </span>
                    </a>
                    <br><br>
                    <a href="http://wa.me/085819600948" target="_blank">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                            Call +62 85819600948
                        </span>
                    </a>
                    <br><br>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&tf=1&fs=1&to=memora.remind@gmail.com" target="_blank">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                            memora.remind@gmail.com
                        </span>
                    </a>
                </div>
                <h1 class="credit"> &copy <span> MEMORA </span> | All rights reserved. </h1>    
        </div>
    </footer>
</section>
    
</body>
</html>