@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #faf9f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

:root {
    font-size: 18px;
    
    --text-primary: #000000;
    --text-secondary:#b6b6b6;
    --bg-primary: #3A353F;
    --bg-secondary: #505668;
    --bg-tertiary: #F1ECE1;
    --bg-accent: #C05850;
}


/*clock*/
.wrapper .clock-container{
  width: 100vw;
  height: 100vh;
  background:  #FFFFFF;
  transition: .4s;
  display: flex;
  flex-direction: row;
  padding-left: 400px;
}

.clock-container .text-clock{
  padding-left: 320px;
  padding-top: 130px;
  width: 50px;
}
.text-clock h1{
  font-size: 80px;
  font-weight: 800;
  color: var(--bg-accent);
}
.clock-container a {
  text-decoration: none;
}


.grid {
  display: grid;
  padding-top: 20px;
}

.clock__container {
  height: 100vh;

}

.clock__circle {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: -6px -6px 16px #FFF, 
              6px 6px 16px #b9b9b9, 
              inset 6px 6px 16px #e4e4e4, 
              inset -6px -6px 16px #FFF;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s; 
}

.clock__content {
  align-self: center;
  row-gap: 3.5rem;
}

.clock__twelve, 
.clock__three, 
.clock__six, 
.clock__nine {
  position: absolute;
  width: 1rem;
  height: 1px;
  background-color: #1f59a6;
}

.clock__twelve, 
.clock__six {
  transform: translateX(-50%) rotate(90deg);
}

.clock__twelve {
  top: 1.25rem;
  left: 50%;
}

.clock__three {
  top: 50%;
  right: .75rem;
}

.clock__six {
  bottom: 1.25rem;
  left: 50%;
}

.clock__nine {
  left: .75rem;
  top: 50%;
}

.clock__rounder {
  width: .75rem;
  height: .75rem;
  background-color: #88317d;
  border-radius: 50%;
  border: 2px solid var#3d3dff3c;
  z-index: 10;
}

.clock__hour, 
.clock__minutes, 
.clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock__hour {
  width: 105px;
  height: 105px;
}

.clock__hour::before {
  content: '';
  position: absolute;
  background-color: #1f2359;
  width: .25rem;
  height: 3rem;
  border-radius: .75rem;
  z-index: 1;
}

.clock__minutes {
  width: 136px;
  height: 136px;
}

.clock__minutes::before {
  content: '';
  position: absolute;
  background-color: #1f2359;
  width: .25rem;
  height: 4rem;
  border-radius: .75rem;
  z-index: 1;
}

.clock__seconds {
  width: 130px;
  height: 130px;
}

.clock__seconds::before {
  content: '';
  position: absolute;
  background-color:  #88317d;
  width: .125rem;
  height: 5rem;
  border-radius: .75rem;
  z-index: 1;
}

.clock__log {
  width: max-content;
  justify-self: center;
  margin-bottom: .25rem;
  font-size: .75rem;
  font-weight: 500;
  color: #1f59a6;
  transition: .3s;
  display: none;
}

.clock__logo:hover {
  color:  #88317d;
}

.clock__text {
  display: flex;
  justify-content: center;
}

.clock__text-hour, 
.clock__text-minutes {
  font-size: 3rem;
  font-weight: 500;
  color: #88266e;
}

.clock__text-ampm {
  font-size: .625rem;
  color: #88266e;
  font-weight: 500;
  margin-left: .25rem;
}

.clock__date {
  text-align: center;
  font-size: .875rem;
  font-weight: 500;
}

/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .clock__logo {
    margin-bottom: 3rem;
  }
}


/*Side Navigation*/
.wrapper{
    display: flex;
    flex-direction: column;
}




.wrapper .sidebar {
    list-style: none;  
    position: fixed; 
    width: 200px;
    height: 100vh;
    background-color: var(--bg-primary);
    padding: 20px 0;
}

.wrapper .sidebar img{
  width: 171px;
  padding-left: 10px;
}
.wrapper .sidebar ul{
    padding: 190px 0px;
}
.wrapper .sidebar ul li{
    padding-left: 20px;
    height: 70px;
    border-bottom: 1px solid rgba(225, 225, 255, 0.258);
    border-top: 1px solid rgba(225, 225, 255, 0.136);
}
.wrapper .sidebar ul li a{
    color: var(--text-secondary);
    display: block;
    text-decoration: none; 
    padding-left: 10px;
    padding-top: 20px;

}
.wrapper .sidebar ul li a i{
    width: 30px;   
}
.wrapper .sidebar ul li:hover{
    background: #0000002e;
}
.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .sidebar ul li a:active,
.wrapper .sidebar ul li a.active {
    color: var(--text-primary);
    background: var(--bg-tertiary); 
    font-weight: bold;
    padding: 20px 0px 20px 10px;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 80px;
}

.wrapper .sidebar .logout-button{
    position: absolute;
    bottom: 0;
    padding: 0 0 30px 15px;
}
.wrapper .sidebar .logout-button {
    text-align: center;
    margin-top: 20px;
}

.wrapper .sidebar .logout-button button {
    padding: 10px 20px;
    background-color: var(--bg-accent);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 160px;
    align-items: center;
}
.wrapper .sidebar .logout-button button:hover {
    background-color: #cc0000;
}
.wrapper .main_content {
    width: calc(100vw - 200px);
    margin-left: 200px;
}
/*Side Navigation*/







.todoPage,
.container-cal {
    padding-left: 200px;
}







/*calender page*/


:root {
  --primary-clr: #C05850;
}

/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 50px;
}

.container-cal {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.container-cal .button-back button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--bg-accent);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.container {
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;

  border-radius: 10px;
  background-color: #373c4f;
}
.left {
  width: 60%;
  padding: 20px;
}
.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}
/* set after behind the main element */
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d4d6d7;
  transform: translateY(-50%);
}
.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}
.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .days .day:hover.event::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}
.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
  border-radius: 5px;
}
.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}
.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}
.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}
.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: #878895;
}
.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(90deg, #3f4458, transparent);
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}
.events .event:hover i {
  color: #fff;
}
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #fff;
}
/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}
.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #878895;
  border: 2px solid #878895;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.add-event:hover {
  opacity: 1;
}
.add-event i {
  pointer-events: none;
}
.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #878895;
}
.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
  max-height: 300px;
}
.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}
.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}
.add-event-header .close:hover {
  color: var(--primary-clr);
}
.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}
.add-event-body .add-event-input input::placeholder {
  color: #a5a5a5;
}
.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}
.add-event-body .add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}
.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}
.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}

/* media queries */
@media screen and (max-width: 1400px){
  .clock-container .text-clock {
    padding-left: 250px;
  }
}

@media screen and (max-width: 1300px){
  .clock-container .text-clock {
    padding-left: 150px;
    padding-top: 150px;
  }

  .text-clock h1{
    font-size: 70px;
    
  }
}

@media screen and (max-width: 1200px){
  .clock-container .text-clock {
    padding-left: 50px;
    padding-top: 210px;
  }

  .text-clock h1{
    font-size: 50px;
    
  }
}

@media screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
  }
  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .events {
    padding-bottom: 340px;
  }
  .add-event-wrapper {
    bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
  }
}


.notification{
  padding-top: 60px;
  width: 40%;
  display: flex;
  justify-content: end;
  height: 30px;
}

.notification i{
  font-size: 40px;
  color: var(--bg-secondary);
  
}
